.helpcenter-page p>img{display:block !important}.color-option.active{border-width:2px;padding:3px 3px 0 3px}
.color-option .color-inner.alice-blue{background:#f0f8ff}.color-option.active.alice-blue{border-color:#f0f8ff}
.color-option .color-inner.aqua{background:#0ff}.color-option.active.aqua{border-color:#0ff}.color-option .color-inner.aquamarine{background:#7fffd4}
.color-option.active.aquamarine{border-color:#7fffd4}.color-option .color-inner.beige{background:#f5f5dc}
.color-option.active.beige{border-color:#f5f5dc}.color-option .color-inner.black{background:#000}.color-option.active.black{border-color:#000}
.color-option .color-inner.transparent,.color-option .color-inner.clear{background-image:url("https://prod-dubaistore-bucket.oss-me-east-1.aliyuncs.com/ds-assets/sites/site--1/transparent-icon.png");background-size:contain}
.color-option.active.transparent,.color-option.active.clear{border-color:#000}.color-option .color-inner.camouflage{background-image:url("https://prod-dubaistore-bucket.oss-me-east-1.aliyuncs.com/ds-assets/sites/site--1/camouflage-icon.jpg");background-size:contain}
.color-option.active.camouflage{border-color:#000}.color-option .color-inner.blue{background:#00f}.color-option.active.blue{border-color:#00f}
.color-option .color-inner.brown{background:#a52a2a}.color-option.active.brown{border-color:#a52a2a}
.color-option .color-inner.burgundy{background:#800020}.color-option.active.burgundy{border-color:#800020}
.color-option .color-inner.coral{background:#ff7f50}.color-option.active.coral{border-color:#ff7f50}
.color-option .color-inner.cyan{background:#0ff}.color-option.active.cyan{border-color:#0ff}.color-option .color-inner.dark-black{background:#000}
.color-option.active.dark-black{border-color:#000}.color-option .color-inner.dark-blue{background:#00008b}
.color-option.active.dark-blue{border-color:#00008b}.color-option .color-inner.dark-brown{background:#654321}
.color-option.active.dark-brown{border-color:#654321}.color-option .color-inner.dark-green{background:#006400}
.color-option.active.dark-green{border-color:#006400}.color-option .color-inner.dark-grey{background:#a9a9a9}
.color-option.active.dark-grey{border-color:#a9a9a9}.color-option .color-inner.dark-orange{background:#ff8c00}
.color-option.active.dark-orange{border-color:#ff8c00}.color-option .color-inner.dark-pink{background:#e75480}
.color-option.active.dark-pink{border-color:#e75480}.color-option .color-inner.dark-purple{background:#462759}
.color-option.active.dark-purple{border-color:#462759}.color-option .color-inner.dark-red{background:#8b0000}
.color-option.active.dark-red{border-color:#8b0000}.color-option .color-inner.dark-salmon{background:#e9967a}
.color-option.active.dark-salmon{border-color:#e9967a}.color-option .color-inner.dark-yellow{background:#9b870c}
.color-option.active.dark-yellow{border-color:#9b870c}.color-option .color-inner.firebrick{background:#b22222}
.color-option.active.firebrick{border-color:#b22222}.color-option .color-inner.fuschia-pink{background:#f7f}
.color-option.active.fuschia-pink{border-color:#f7f}.color-option .color-inner.gold{background:#ffd700}
.color-option.active.gold{border-color:#ffd700}.color-option .color-inner.green{background:#008000}.color-option.active.green{border-color:#008000}
.color-option .color-inner.grey{background:gray}.color-option.active.grey{border-color:gray}.color-option .color-inner.light-green{background:#90ee90}
.color-option.active.light-green{border-color:#90ee90}.color-option .color-inner.red{background:red}
.color-option.active.red{border-color:red}.color-option .color-inner.red{background:red}.color-option.active.red{border-color:red}
.color-option .color-inner.teal{background:teal}.color-option.active.teal{border-color:teal}.color-option .color-inner.malta{background-image:linear-gradient(red,blue)}
.color-option.active.malta{border-color:red}.color-option .color-inner.zap{background-image:linear-gradient(yellow,blue)}
.color-option.active.zap{border-color:red}.color-option .color-inner.multicolour{background-image:linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet)}
.color-option.active.multicolour{border-color:red}.color-option .color-inner.white{background:#fff}.color-option.active.white{border-color:#000}
.color-option .color-inner.hot-pink{background:#ff69b4}.color-option.active.hot-pink{border-color:#ff69b4}
.color-option .color-inner.indigo{background:#4b0082}.color-option.active.hot-indigo{border-color:#4b0082}
.color-option .color-inner.khaki{background:#f0e68c}.color-option.active.khaki{border-color:#f0e68c}
.color-option .color-inner.lavender{background:#e6e6fa}.color-option.active.lavender{border-color:#e6e6fa}
.color-option .color-inner.light-black{background:#000}.color-option.active.light-black{border-color:#000}
.color-option .color-inner.light-blue{background:#add8e6}.color-option.active.light-blue{border-color:#add8e6}
.color-option .color-inner.light-brown{background:#b5651d}.color-option.active.light-brown{border-color:#b5651d}
.color-option .color-inner.light-cyan{background:#e0ffff}.color-option.active.light-cyan{border-color:#e0ffff}
.color-option .color-inner.light-grey{background:#d3d3d3}.color-option.active.light-grey{border-color:#d3d3d3}
.color-option .color-inner.light-pink{background:#ffb6c1}.color-option.active.light-pink{border-color:#ffb6c1}
.color-option .color-inner.light-orange{background:#fed8b1}.color-option.active.light-orange{border-color:#fed8b1}
.color-option .color-inner.light-purple{background:#b19cd9}.color-option.active.light-purple{border-color:#b19cd9}
.color-option .color-inner.light-red{background:#ffcccb}.color-option.active.light-red{border-color:#ffcccb}
.color-option .color-inner.light-salmon{background:#ffa07a}.color-option.active.light-salmon{border-color:#ffa07a}
.color-option .color-inner.light-yellow{background:#ffffe0}.color-option.active.light-yellow{border-color:#ffffe0}
.color-option .color-inner.lilac{background:#b666d2}.color-option.active.lilac{border-color:#b666d2}
.color-option .color-inner.lime{background:#0f0}.color-option.active.lime{border-color:#0f0}.color-option .color-inner.magenta{background:#f0f}
.color-option.active.magenta{border-color:#f0f}.color-option .color-inner.maroon{background:maroon}.color-option.active.maroon{border-color:maroon}
.color-option .color-inner.mustard{background:#ffdb58}.color-option.active.mustard{border-color:#ffdb58}
.color-option .color-inner.neon-lime{background:#39ff14}.color-option.active.neon-lime{border-color:#39ff14}
.color-option .color-inner.neon-pink{background:#ff6ec7}.color-option.active.neon-pink{border-color:#ff6ec7}
.color-option .color-inner.off-white{background:#f5f2d0}.color-option.active.off-white{border-color:#f5f2d0}
.color-option .color-inner.olive{background:olive}.color-option.active.olive{border-color:olive}.color-option .color-inner.orange{background:#ff7f00}
.color-option.active.orange{border-color:#ff7f00}.color-option .color-inner.peach{background:#ffe5b4}
.color-option.active.peach{border-color:#ffe5b4}.color-option .color-inner.pink{background:#ffc0cb}.color-option.active.pink{border-color:#ffc0cb}
.color-option .color-inner.purple{background:purple}.color-option.active.purple{border-color:purple}
.color-option .color-inner.red-violet{background:#c71585}.color-option.active.red-violet{border-color:#c71585}
.color-option .color-inner.rose-beige{background:#ae7a74}.color-option.active.rose-beige{border-color:#ae7a74}
.color-option .color-inner.rose-gold{background:#b86b77}.color-option.active.rose-gold{border-color:#b86b77}
.color-option .color-inner.salmon{background:#fa8072}.color-option.active.salmon{border-color:#fa8072}
.color-option .color-inner.silver{background:silver}.color-option.active.silver{border-color:silver}
.color-option .color-inner.turquoise{background:#40e0d0}.color-option.active.turquoise{border-color:#40e0d0}
.color-option .color-inner.slate-blue{background:#6a5acd}.color-option.active.slate-blue{border-color:#6a5acd}
.color-option .color-inner.watermelon-pink{background:#fc6c85}.color-option.active.watermelon-pink{border-color:#fc6c85}
.color-option .color-inner.yellow{background:#ff0}.color-option.active.yellow{border-color:#ff0}.color-option .color-inner.alpine-white{background:#fffee9}
.color-option.active.alpine-white{border-color:#fffee9}.color-option .color-inner.aurora-blue{background:#28166f}
.color-option.active.aurora-blue{border-color:#28166f}.color-option .color-inner.aurora-purple{background:#9370db}
.color-option.active.aurora-purple{border-color:#9370db}.color-option .color-inner.black-mist{background:#000}
.color-option.active.black-mist{border-color:#000}.color-option .color-inner.black-onyx{background:#0f0f0f}
.color-option.active.black-onyx{border-color:#0f0f0f}.color-option .color-inner.blue-silver{background:#839ca5}
.color-option.active.blue-silver{border-color:#839ca5}.color-option .color-inner.bubblegum-pink{background:#ffc1cc}
.color-option.active.bubblegum-pink{border-color:#ffc1cc}.color-option .color-inner.caviar-black{background:#2f2f2f}
.color-option.active.caviar-black{border-color:#2f2f2f}.color-option .color-inner.ceramic-white{background:#d6d1d1}
.color-option.active.ceramic-white{border-color:#d6d1d1}.color-option .color-inner.champagne-gold{background:#fad6a5}
.color-option.active.champagne-gold{border-color:#fad6a5}.color-option .color-inner.coral-blue{background:#b6dfd6}
.color-option.active.coral-blue{border-color:#b6dfd6}.color-option .color-inner.coral-red{background:#ff4040}
.color-option.active.coral-red{border-color:#ff4040}.color-option .color-inner.crush-blue{background:#0072ad}
.color-option.active.crush-blue{border-color:#0072ad}.color-option .color-inner.dazzling-blue{background:#2e5894}
.color-option.active.dazzling-blue{border-color:#2e5894}.color-option .color-inner.dazzling-gold{background:#ebcd90}
.color-option.active.dazzling-gold{border-color:#ebcd90}.color-option .color-inner.diamond-black{background:#403f42}
.color-option.active.diamond-black{border-color:#403f42}.color-option .color-inner.emerald-green{background:#50c878}
.color-option.active.emerald-green{border-color:#50c878}.color-option .color-inner.gold-platinum{background:#d4af39}
.color-option.active.gold-platinum{border-color:#d4af39}.color-option .color-inner.graphite-black{background:#383428}
.color-option.active.graphite-black{border-color:#383428}.color-option .color-inner.haze-gold{background:#fbf073}
.color-option.active.haze-gold{border-color:#fbf073}.color-option .color-inner.iris-purple{background:#5a4fcf}
.color-option.active.iris-purple{border-color:#5a4fcf}.color-option .color-inner.klein-blue{background:#002fa7}
.color-option.active.klein-blue{border-color:#002fa7}.color-option .color-inner.lavender-purple{background:#e6e6fa}
.color-option.active.lavender-purple{border-color:#e6e6fa}.color-option .color-inner.lilac-purple{background:#c8a2c8}
.color-option.active.lilac-purple{border-color:#c8a2c8}.color-option .color-inner.lemonade-blue{background:#26d6ed}
.color-option.active.lemonade-blue{border-color:#26d6ed}.color-option .color-inner.maple-gold{background:#b38a61}
.color-option.active.maple-gold{border-color:#b38a61}.color-option .color-inner.midnight-black{background:#130c16}
.color-option.active.midnight-black{border-color:#130c16}.color-option .color-inner.midnight-blue{background:#036}
.color-option.active.midnight-blue{border-color:#036}.color-option .color-inner.mocha-brown{background:#9b7f7c}
.color-option.active.mocha-brown{border-color:#9b7f7c}.color-option .color-inner.moonlight-silver{background:#c2c5cc}
.color-option.active.moonlight-silver{border-color:#c2c5cc}.color-option .color-inner.ocean-blue{background:#0077be}
.color-option.active.ocean-blue{border-color:#0077be}.color-option .color-inner.orchid-grey{background:#b7a8ba}
.color-option.active.orchid-grey{border-color:#b7a8ba}.color-option .color-inner.pearl-white{background:#eae0c8}
.color-option.active.pearl-white{border-color:#eae0c8}.color-option .color-inner.pink-gold{background:#b76e79}
.color-option.active.pink-gold{border-color:#b76e79}.color-option .color-inner.prestige-gold{background:#f3e3d4}
.color-option.active.prestige-gold{border-color:#f3e3d4}.color-option .color-inner.sakura-pink{background:#ffb7c5}
.color-option.active.sakura-pink{border-color:#ffb7c5}.color-option .color-inner.sapphire-blue{background:#0f52ba}
.color-option.active.sapphire-blue{border-color:#0f52ba}.color-option .color-inner.silver-titanium{background:#6a696f}
.color-option.active.silver-titanium{border-color:#6a696f}.color-option .color-inner.space-gray{background:#414a4c}
.color-option.active.space-gray{border-color:#414a4c}.color-option .color-inner.space-black{background:#373634}
.color-option.active.space-black{border-color:#373634}.color-option .color-inner.deep-purple{background:#5f5766}
.color-option.active.deep-purple{border-color:#5f5766}.color-option .color-inner.sunrise-gold{background:#ffd700}
.color-option.active.sunrise-gold{border-color:#ffd700}.color-option .color-inner.titanium-grey{background:#565f6b}
.color-option.active.titanium-grey{border-color:#565f6b}.color-option .color-inner.twilight{background:#50399c}
.color-option.active.twilight{border-color:#50399c}.color-option .color-inner.violet{background:#8a2be2}
.color-option.active.violet{border-color:#8a2be2}.color-option .color-inner.starlight{background:#FFF}
.color-option.active.starlight{border-color:#000}.color-option .color-inner.midnight{background:#000}
.color-option.active.midnight{border-color:#000}.color-option .color-inner.middle-cream-107{background:#f3e2ce}
.color-option.active.middle-cream-107{border-color:#f3e2ce}.color-option .color-inner.blue-stars-503{background:#7ec5d9}
.color-option.active.blue-stars-503{border-color:#7ec5d9}.color-option .color-inner.light-grey-702{background:#cde2de}
.color-option.active.light-grey-702{border-color:#cde2de}.color-option .color-inner.cream-106{background:#f9f5e4}
.color-option.active.cream-106{border-color:#f9f5e4}.color-option .color-inner.turquoise-502{background:#7cc9d7}
.color-option.active.turquoise-502{border-color:#7cc9d7}.color-option .color-inner.marine-blue-505{background:#0165a7}
.color-option.active.marine-blue-505{border-color:#0165a7}.color-option .color-inner.wood-pink-109{background:#f5e1d6}
.color-option.active.wood-pink-109{border-color:#f5e1d6}.color-option .color-inner.dark-grey-701{background:#b0bab7}
.color-option.active.dark-grey-701{border-color:#b0bab7}.color-option .color-inner.desert-beige-108{background:#e8d8bc}
.color-option.active.desert-beige-108{border-color:#e8d8bc}.color-option .color-inner.dark-turquoise-504{background:#349dc0}
.color-option.active.dark-turquoise-504{border-color:#349dc0}.color-option .color-inner.blue-violet-507{background:#3a5ba3}
.color-option.active.blue-violet-507{border-color:#3a5ba3}.color-option .color-inner.blue-royal-506{background:#2d5674}
.color-option.active.blue-royal-506{border-color:#2d5674}.color-option .color-inner.crazy-blue-508{background:#8fbfe5}
.color-option.active.crazy-blue-508{border-color:#8fbfe5}.color-option .color-inner.ivory-101{background:#f6f1dd}
.color-option.active.ivory-101{border-color:#f6f1dd}.color-option .color-inner.white-100{background:#fffeec}
.color-option.active.white-100{border-color:#fffeec}.color-option .color-inner.deep-red-301{background:#b64e41}
.color-option.active.deep-red-301{border-color:#b64e41}.color-option .color-inner.candy-pink-103{background:#f3dfd4}
.color-option.active.candy-pink-103{border-color:#f3dfd4}.color-option .color-inner.magnoly-102{background:#f5f1e3}
.color-option.active.magnoly-102{border-color:#f5f1e3}.color-option .color-inner.calm-grey-105{background:#d5d7cc}
.color-option.active.calm-grey-105{border-color:#d5d7cc}.color-option .color-inner.favorite-blue-501{background:#b3deee}
.color-option.active.favorite-blue-501{border-color:#b3deee}.color-option .color-inner.bordeaux-302{background:#913b2c}
.color-option.active.bordeaux-302{border-color:#913b2c}.color-option .color-inner.fresh-pink-104{background:#f6e2d7}
.color-option.active.fresh-pink-104{border-color:#f6e2d7}.color-option .color-inner.shutter-green-614{background:#008464}
.color-option.active.shutter-green-614{border-color:#008464}.color-option .color-inner.petroleum-blue-615{background:#245d6a}
.color-option.active.petroleum-blue-615{border-color:#245d6a}.color-option .color-inner.petrol-612{background:#047a72}
.color-option.active.petrol-612{border-color:#047a72}.color-option .color-inner.teal-green-613{background:#44a89b}
.color-option.active.teal-green-613{border-color:#44a89b}.color-option .color-inner.dirty-orange-252{background:#b46a45}
.color-option.active.dirty-orange-252{border-color:#b46a45}.color-option .color-inner.evergreen-610{background:#406352}
.color-option.active.evergreen-610{border-color:#406352}.color-option .color-inner.bright-green-611{background:#138b60}
.color-option.active.bright-green-611{border-color:#138b60}.color-option .color-inner.pale-green-603{background:#dbedf0}
.color-option.active.pale-green-603{border-color:#dbedf0}.color-option .color-inner.banana-yellow-206{background:#fcd549}
.color-option.active.banana-yellow-206{border-color:#fcd549}.color-option .color-inner.caramel-801{background:#a57b51}
.color-option.active.caramel-801{border-color:#a57b51}.color-option .color-inner.red-lilas-403{background:#e3a7b6}
.color-option.active.red-lilas-403{border-color:#e3a7b6}.color-option .color-inner.manga-fruit-205{background:#f9e50b}
.color-option.active.manga-fruit-205{border-color:#f9e50b}.color-option .color-inner.apple-green-604{background:#92ccba}
.color-option.active.apple-green-604{border-color:#92ccba}.color-option .color-inner.deep-brown-802{background:#6b3a2f}
.color-option.active.deep-brown-802{border-color:#6b3a2f}.color-option .color-inner.light-green-601{background:#e7f1e9}
.color-option.active.light-green-601{border-color:#e7f1e9}.color-option .color-inner.pastel-green-602{background:#acd5c5}
.color-option.active.pastel-green-602{border-color:#acd5c5}.color-option .color-inner.avocado-607{background:#80bc62}
.color-option.active.avocado-607{border-color:#80bc62}.color-option .color-inner.herbal-green-608{background:#03915c}
.color-option.active.herbal-green-608{border-color:#03915c}.color-option .color-inner.strong-brown-803{background:#633d28}
.color-option.active.strong-brown-803{border-color:#633d28}.color-option .color-inner.fresh-green-605{background:#f0ec9f}
.color-option.active.fresh-green-605{border-color:#f0ec9f}.color-option .color-inner.dirty-green-606{background:#7cc2a6}
.color-option.active.dirty-green-606{border-color:#7cc2a6}.color-option .color-inner.off-white-120{background:#faf3e3}
.color-option.active.off-white-120{border-color:#faf3e3}.color-option .color-inner.lemon-yellow-202{background:#f8f3b3}
.color-option.active.lemon-yellow-202{border-color:#f8f3b3}.color-option .color-inner.autumn-yellow-201{background:#f6bb20}
.color-option.active.autumn-yellow-201{border-color:#f6bb20}.color-option .color-inner.mustard-204{background:#e5d43c}
.color-option.active.mustard-204{border-color:#e5d43c}.color-option .color-inner.rosary-402{background:#f6cadb}
.color-option.active.rosary-402{border-color:#f6cadb}.color-option .color-inner.dirty-yellow-203{background:#f9ed9b}
.color-option.active.dirty-yellow-203{border-color:#f9ed9b}.color-option .color-inner.rosa-401{background:#f7cbc0}
.color-option.active.rosa-401{border-color:#f7cbc0}.color-option .color-inner.deep-orange-251{background:#f3995b}
.color-option.active.deep-orange-251{border-color:#f3995b}.color-option .color-inner.light-orange-250{background:#fac067}
.color-option.active.light-orange-250{border-color:#fac067}.color-option .color-inner.olive-green-609{background:#9a9438}
.color-option.active.olive-green-609{border-color:#9a9438}.color-option .color-inner.dirty-white-118{background:#f3f8eb}
.color-option.active.dirty-white-118{border-color:#f3f8eb}.color-option .color-inner.winter-beige-117{background:#dcad7f}
.color-option.active.winter-beige-117{border-color:#dcad7f}.color-option .color-inner.tawny-beige-119{background:#e2dea1}
.color-option.active.tawny-beige-119{border-color:#e2dea1}.color-option .color-inner.grey-silver-110{background:#eff5f2}
.color-option.active.grey-silver-110{border-color:#eff5f2}.color-option .color-inner.favorite-beige-112{background:#f6c29c}
.color-option.active.favorite-beige-112{border-color:#f6c29c}.color-option .color-inner.calm-cream-111{background:#f7ecdb}
.color-option.active.calm-cream-111{border-color:#f7ecdb}.color-option .color-inner.bounty-cream-114{background:#c8b881}
.color-option.active.bounty-cream-114{border-color:#c8b881}.color-option .color-inner.dark-beige-113{background:#f4d597}
.color-option.active.dark-beige-113{border-color:#f4d597}.color-option .color-inner.soft-cream-116{background:#d2af92}
.color-option.active.soft-cream-116{border-color:#d2af92}.color-option .color-inner.butter-cream-115{background:#f5d09b}
.color-option.active.butter-cream-115{border-color:#f5d09b}